<div class="col-9 d-flex justify-content-start align-items border-bottom border-2 mb-5 ">
  <div class="d-flex flex-column justify-content-start align-items-start ">
  <h4>
  {{job['Title']}}
     </h4>

<div>
    {{job['Location']}}

   </div>
{% if "Salary" in job %}      
<div>
  {{job['Salary']}}
 </div>
     {% endif %}

<p class="text-start mb-5 mt-2 text-wrap">
  {{job['Job Description']}}

 </p>


     </div>

   </div>

<div class="col-3">

 <a  href="mailto:abhi120730@gmail.com?subject=Applying%20For%20the%20{{job['Title']}} job%20At%20CodeAstera&body=Name%20%3A%20%3CYour%20Name%3E%0D%0A%0D%0AResume%20Link%20%3A%20%3CYour%20Resume%20Link%20Here%20%3E%0D%0A%0D%0ALinkedin%20Profile%20%3A%20%3CLinkedin%20Profile%20Link%20Here%20%3E%0D%0A%0D%0AGithub%20Profile%20%3A%20%3CGithub%20Profile%20Link%20Here%20%3E" type="button" class="btn btn-outline-warning my-5">Apply</a>
</div>